.main-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-image-text{
    font-size: 25px;
}
.carousel-margin-bottom{
    margin-bottom: 50px;
}
.room-name{
    font-weight: bold;
    font-size: 20px;
}

.room-price{
    font-weight: bold;
    font-size: 35px;
}
.ng-touched.ng-invalid{
    border: 1px solid darkred;
}